*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.rds
/runs/pred/arx
/runs/CV
/script/arx
/script/CV/formatting_table_dm_supp.R
/script/CV/formatting_table_inla_supp.R
/data/ad_hoc
/denv_am_synchrony-main
/presentations
/output/figures/arx